
#barra{margin-bottom: 0px !important;
}
#botonet{ margin:30px;
}

#contenido{ padding-right:336px;
}

#publicitat{display:block;
}

#publi2{display:none;
}
#dinerito{text-align:center;
}

.bg{color: green;
	background-image: url("../img/rift.jpg");
	height: 2%;
	background-position: center;
    background-repeat: no-repeat;
	
}

html,body{background-color: #B0A9AA;

}

@media screen and (min-width: 768px){
	#publicitat{position:absolute;
			right:0px;
			width:336px;
			height:600px;
			display:inline;
	}
}

