#barra{margin-bottom: 0px !important;
}

#botonet{margin:30px;

}

#contenido{ text-align:center;
}


#publicitat{width:320px;
			height:100px;
			margin-bottom: 15px;
			margin-top:15px;
}

.jumbotron{margin-bottom:0px !important;

}

#publi{ display: none;

}

.bg{color: green;
	background-image: url("../img/rift.jpg");
	height: 2%;
	background-position: center;
    background-repeat: no-repeat;
	
}

html,body{background-color: #B0A9AA;

}
