#barra{margin-bottom: 0px !important;
}

#botonet{margin:30px;

}

#contenido{ text-align:center;
}


#publicitat{width:320px;
			height:100px;
			margin-bottom: 15px;
			margin-top:15px;
}

.jumbotron{margin-bottom:0px !important;

}

#publi{ display: none;

}